html, body { background: #000000;
        color: #FFFFFF; }
H2 {background: #000000;
        color: #FFFFFF;
        font-family: Arial,Helvetica,Sans-serif; }
form, P, p { background: #000000;
        color: #FFFFFF; 
        font-family: arial,helvetica,sans-serif;
        text-align: left; }
